.acordion-conteiner {
    @include flex (block,center,center);
    width: 100%;
    background-color: $bgd-color-principal;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
.accordion {
    --bs-accordion-bg: $bgd-color-principal;
    --bs-accordion-btn-color: $txt-color;
    --bs-accordion-border-color: $border-color;
}
.acor-body {
    img {
        margin: 0px 15px 0px 15px;
        width: 45px;
    }
    .team {
        width: 60px;
    }
}