
.menu-button {
    width: 20px;
}
.offcanvas-header {
    @include flex(block,left,none);
    .button-out {
        position: absolute;
        right: 15%;
        top: 5%;
    }
    h5 {
        margin-top: 30px;
        font-family: "Hertha-3";
        font-size: 40px;
    }
    .offc-title-2 {
        position: absolute;
        top: 7%;
        background: linear-gradient(to right, #ff0000,#0011ff);
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        -webkit-background-clip: text;
    }
}
.offcavas-body {
    @include flex(block,left,none);
    margin: 0px;
    padding: 0px;
    .buscar-offcanvas {
        width: 100%;
        @include flex(none,center,center);
        .buscar-bar{
            width: 180px;
            height: 35px;
        }
        .buscar-button {
            margin-left: 10px;
            width: 100px;
            height: 35px;
            border-color: $bgd-color-princial;
            color: $txt-color;
            &:hover{
                    transform: scale(1.05);
                    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,5,255,1) 100%);
                    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
                    border-image-source: linear-gradient(rgb(49, 49, 49), rgb(0, 0, 0));
                    -webkit-text-fill-color: transparent;
                    background-clip: text; 
                    -webkit-background-clip: text;
                }
            }
    }
    .nav-offcanvas {
        width: 100%;
        margin-left: -42px;
        li{
            list-style: none;
            a {
                font-size: 15px;
                list-style: none;
                text-decoration: none;
                color: $txt-color;
            }
        }
    }
    .social-media {
        width: 100%;
        @include flex(flex,left,none);
        background-color: #0011ff;
        .social-media-icons {
            width: 35px;
            padding: 2px;
            margin-right: 4px;
        }
    }
    .separador-offc {
        width: 50%;
        height: 4px;
        top: 0%;
    }
}