
.menu-button {
    width: 20px;
}
.offcanvas-header {
    @include flex(block,left,none);
    .button-out {
        position: absolute;
        right: 7%;
        top: 3%;
    }
    h5 {
        margin-top: 25px;
        font-family: "Hertha-3";
        font-size: 40px;
    }
    .offc-title-2 {
        position: absolute;
        top: 6%;
        background: linear-gradient(to right, #ff0000,#0011ff);
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        -webkit-background-clip: text;
    }
}
.offcavas-body {
    @include flex(block,left,none);
    margin-top: 0px;
    padding: 0px;
    }
    .buscar-offcanvas {
        margin-top: 5px;
        margin-bottom: 7px;

    }
    .nav-offcanvas {
        width: 100%;
        margin-left: -42px;
        li{
            list-style: none;
            a {
                font-size: 15px;
                list-style: none;
                text-decoration: none;
                color: $txt-color;
                &:hover {
                    transform: scale(1.05);
                    background: rgb(255,0,0);
                    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,5,255,1) 100%);
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                }
            }
        }
    }
    .social-media {
        width: 100%;
        margin-left: -15px;
        @include flex(flex,left,none);
        .social-media-icons {
            width: 35px;
            padding: 2px;
            margin-right: 4px;
        }
    }
    .separador-offc {
        width: 60%;
        height: 4px;
        top: 0%;
    }
