.presentacion {
    @include flex(flex,center,center)
    width: 100%;
    height: auto;
    background: linear-gradient(253deg, #ff0000,#ff0000,#0011ff,#0011ff,#ff0000,#ff0000);
    animation: movinggradient 10s ease infinite;
    background-size: 300%;
    div{
        padding: 5px;
        h1 {
            color: #fff;
            font-family: "Hertha-1";
            font-size: 9px;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: 3px solid white; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .10em; /* Adjust as needed */
            animation: 
            typing 3.5s steps(40, end),
            blink-caret .5s step-end infinite;
            code {
                color: white;
                font-family: "Hertha-1";
                font-size: 10px;
            }
        }
    }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}
@keyframes movinggradient {
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}
