.slider {
    width: 85vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slide-track {
    @include flex(flex,none,center);
    animation: scroll 10s linear infinite;
    width: calc(200px * 12);
    -webkit-animation: scroll 10s linear infinite;
    div {
        width: 80px;
        padding: 10px;
        img {
            width: 100%;
        }
    }
}
@keyframes scroll {
    0% {
        -webkit-animation: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-animation: translateX(calc(-80px * 6));
        transform: translateX(calc(-80px * 6));
    }
}