.store-conteiner {
    width: 100%;
    @include flex(flex,center,center);
    background-image: $bgd-img;
    background-color: $bgd-color-princial;
    flex-wrap: wrap;
    color: $txt-color;
}
.store-box {
    width: 100%;
    @include flex(grid,center,center);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    section {
        background-color: $bgd-color-princial;
        padding: 13px;
        justify-self: center;
        div {
            h2 {
                @include flex(flex,center,center);
                color: $txt-color;
                font-size: 8px;
                padding: 2px;
            }
        }
    }
    .product-box {
        width: 180px;
        border-radius: 10px;
        margin: 4px;
        @include flex(flex,center,center);
    }
    .product {
        width: 150px;
        border-radius: 15px;
        justify-content: center;
    }
}
.store-box .product-box .personalize, h3 {
    @include flex(flex,center,center);
    padding: 2px;
}
.personalize {
    width: 15px;
    margin-left: 67px;
}
