@media (min-width:425px) {
    .club-box2 img {
        top: 58%;
    }
    .club-box2 h2 {
        top: 60%;
        left: 45%;
    }
    .cal-banner {
        background-position: right;
        background-attachment: fixed;
    }
    .acordion-conteiner {
        padding-left: 30px;
        padding-right: 30px;
    }
    }