@media (min-width:1440px) {
    .club-box2 {
        img {
            top: 90%;
            width: 700px;
            height: 60px;
        }
        h2 {
            top: 95%;
            left: 40%;
            font-size: 45px;
            color: $txt-color;
        }
        p {
            font-size: 18px;
            margin-left: 80PX;
        }
    }
}