@media (min-width:2560px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 24px;
    }
    .logo {
        width: 110px;
        top: 30%;
    }
    .conteiner-1 {
        height: 90px;
    }
    .nav-main {
        height: 70px;
    }
    .nav-menu-left {
        height: 70px;
    }
    .nav-menu-right {
        height: 70px;
    }

}