$bgd-color-princial: rgb(0, 0, 0);
$txt-color: rgb(255, 255, 255);
$txt-color-sec: #1d1d1d;


$bgd-img: url(../assets/img/background-1.jpg);
// for white "url(../assets/img/background-2.jpg)"

$nav-img: url(../assets/img/conteiner11.jpg);



