.form-control{
    margin-right: 10px;
    margin-left: -15px;
}
.btn-outline-success {
    border-color: $bgd-color-principal;
    color: $txt-color;
    &:hover{
            transform: scale(1.05);
            background: $bdg-gradient;
            box-shadow: 0px 0px 20px 0px $shadow-color;
            --bs-btn-hover-border-color: #ffffff;
            --bs-btn-active-bg: #ffffff;
            --bs-btn-active-border-color: #ffffff;
        }
    }