.error-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background: $bdg-gradient;
}
.error-404 {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 70%;
    background-color: $bgd-color-principal;
    border: 2px solid $border-color;
    border-radius: 20px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            h2{
                
            }
            a{
                img{
                    width: 30px;
                }
                button{
                    width: 130px;
                    background-color: $bgd-color-principal;
                    color: $txt-color;
                    border: 1.5px solid $border-color;
                    border-radius: 20px;
                    padding: 5px;
                    margin: 5px;
                    margin-left: 7px;
                        &:hover {
                    transform: scale(1.1);
                    background: rgb(255,0,0);
                    border: 2px solid $border-color;
                    border-radius: 20px;
                    background: $bdg-gradient;
                    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
                    }
                }
            }
            
        }
    }
