@font-face {
    font-family: "Hertha-0";
    src: url(../assets/fonts/Hertha-Regular.ttf);
}
@font-face {
    font-family: "Hertha-1";
    src: url(../assets/fonts/Hertha-Bold.ttf);
}
@font-face {
    font-family: "Hertha-2";
    src: url(../assets/fonts/HerthaHaHoHe-Black.ttf);
}
@font-face {
    font-family: "Hertha-3";
    src: url(../assets/fonts/HerthaHaHoHe-BlackItalic.ttf);
}