.social-media {
    @include flex(flex,center,center);
    padding: 3px;
    margin: 0px;
    margin-top: 10px;
    a {
        width: 30px;
    }
}
.medios-pago {
    @include flex(flex,center,center);
    img {
        padding: 10px;
        width: 50px
    }
}
.sec-data {
    @include flex(flex,center,center);
    ul {
        list-style: none;
        display: flex;
        padding: 0%;
        li {
            list-style: none;
            padding: 5px;
            h6{
                font-size: 12px;
            }
        }
    }
}
.made-by {
    @include flex(flex,center,center);
    h6{ 
        font-size: 12px;
    }
}